.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.auth_title {
  color: slateblue;
  margin-bottom: 14px;
}
.form_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid slateblue;
  width: 400px;
  margin: 0 auto;
  padding: 22px 0;
}
.input_auth {
  width: 300px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid slateblue;
  border-radius: 5px;
}
.error-div {
  color: red;
  margin-top: -12px;
  margin-bottom: 20px;
}
.footer {
  flex: 0 0 auto;
}
@media (min-width: 320px) {
  .form_auth {
    width: 95%;
  }
  .input_auth {
    width: 90%;
  }
}
@media (min-width: 700px) {
  .form_auth {
    width: 400px;
  }
  .input_auth {
    width: 300px;
  }
}
